/*******************************************************************/
/* AJAX Portal: LiveView version                                   */
/* @author Sergei Sokolov                                          */
/* @version 1.0.3 Alpha4 (2 Mar 2011)                              */
/*******************************************************************/

.window {
    border: 1px solid #508FFF;
    background-color: white;
}

.window div.containerHeader .containerIcon {
    background-image: url(../images/icon_window.gif);
}

.window div.containerHeader {
    color: white;
    /*font-weight: bold;*/
    background-color: #508FFF;
    background-image: url(../images/background_lines.gif);
}

/* active **********************************************************/

.window .portlet div.portletHeader {
    color: black;
    font-weight: bold;
}

/* not active ******************************************************/

