html, body {
    margin: 0;
    padding: 0;
}


.socnetMainTable {
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}

.socnetMainTable tr th,
.socnetMainTable tr td {
    border: 0;
    margin: 0;
    padding: 0;
}


.center {
    text-align: center;
}

.content * th.tableHeader {
    background-color: #DDDDDD;
}

pre.source {
    padding: 0 3px 3px 3px;
    border: 1px solid gray;

    font-family: serif;
    
    background-color: #DDDDDD;
    overflow: auto;
}

.sourceHeader {
    margin: 0 -3px -3px -3px;
    padding: 1px 1px 1px 7px;

    font-weight: bold;

    color: white;
    background-color: gray;
}

.list {
    margin-top: 0;
    margin-bottom: 0;
}

.width25 {
    width: 25%;
}

.width33 {
    width: 33%;
}

.width50 {
    width: 50%;
}

.width100 {
    width: 100%;
}

.alert {
    color: red;
}

#left, #right {
    margin: 0;
    padding: 0;
}

td {
    vertical-align: top;
    height: 100%;
}

.cbase {
    background-color: #EFEFEF;
    border: 2px solid transparent;
}

.dotted_line {
    border-top: 1px dashed silver;
    font-size: 1px;
}

.size {
    font-size: 1px;
    width: 300px;
}

