/*******************************************************************/
/* AJAX Portal: LiveView version                                   */
/* @author Sergei Sokolov                                          */
/* @version 1.0.3 Alpha4 (2 Mar 2011)                              */
/*******************************************************************/

.iframe div.portletContent {
    padding: 0 !important;
}

div.portletContent {
     overflow: hidden; 
}

.iframe div.portletContent iframe {
    border: 0px none;
    width: 100%;
/*    height: 100%;*/
/*    width: "99%";*/
/*    overflow:hide;*/
}

.noheader div.portletHeader {
    display: none !important;
}

.noBehaviourButton div.portletHeader .changeStateButton {
    display: none !important;
}

