/*******************************************************************/
/* AJAX Portal: LiveView version                                   */
/* @author Sergei Sokolov                                          */
/* @version 1.0.3 Alpha4 (2 Mar 2011)                              */
/*******************************************************************/

.window {
    border: 1px solid #94C8F2;
    background-color: #F6F6FF;
}

.window div.containerHeader .containerIcon {
    background-image: url(../images/icon_window.gif);
}

.window div.containerHeader {
    color: #0F74BC;
    /*font-weight: bold;*/

    background-color: #BDDCF4;

    background-repeat: repeat-x;
    background-position: 2px center;
    background-image: url(../images/header_background_blue.gif);
}

/* active **********************************************************/

.window .portlet div.portletHeader {
    color: black;
    font-weight: bold;
}

/* not active ******************************************************/
