/*******************************************************************/
/* AJAX Portal: LiveView version                                   */
/* @author Sergei Sokolov                                          */
/* @version 1.0.3 Alpha4 (2 Mar 2011)                              */
/*******************************************************************/

.accordion .portlet,
.accordion .portletNotActive {
    border: 1px solid #94C8F2;
}

.accordion .portlet div.portletHeader .portletIcon,
.accordion .portletNotActive div.portletHeader .portletIcon {
    background-image: url(../images/icon_window.gif);
}

.accordion .portlet div.portletHeader,
.accordion .portletNotActive div.portletHeader {
    color: #0F74BC;
    /*font-weight: bold;*/
    background-color: #BDDCF4;

    background-repeat: repeat-x;
    background-position: 2px center;
    background-image: url(../images/header_background_blue.gif);
}

.accordion .portlet div.portletContent,
.accordion .portletNotActive div.portletContent {
    background-color: #F6F6FF;
}

/*******************************************************************/

.accordion .draggable .portletHeader a .dragIcon {
    background-image: url(../images/drag_blue.gif);
}

/*******************************************************************/

.accordion .portlet .portletHeader a .helpButton,
.accordion .portletNotActive .portletHeader a .helpButton,
.accordion .titleEditable .portletHeader a:hover .toolButton {
    background-color: #D6E3F2;

    border-left: 1px solid #AED3F7;
    border-top: 1px solid #AED3F7;
    border-right: 1px solid #6699CC;
    border-bottom: 1px solid #6699CC;
}

.accordion .titleEditable .portletHeader a .toolButton {
    background-image: url(../images/tool_blue.gif);
}

.accordion .portlet .portletHeader a .helpButton,
.accordion .portletNotActive .portletHeader a .helpButton {
    background-image: url(../images/question_blue.gif);
}
