<?xml version="1.0"?> 
<!DOCTYPE web-app PUBLIC 
  "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
  "http://java.sun.com/dtd/web-app_2_3.dtd"> 
<web-app> 

    <servlet>
        <servlet-name>Demo Portlet Servlet</servlet-name>
        <servlet-class>com.sokolov.portlet.example.DemoPortlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Demo Portlet Servlet2</servlet-name>
        <servlet-class>com.sokolov.portlet.example.HelloWorldPortlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Demo Dispatch Portlet Servlet</servlet-name>
        <servlet-class>com.sokolov.portlet.example.HelloWorldDispatchPortlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Demo Portlet Servlet</servlet-name>
        <url-pattern>*.portlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Demo Portlet Servlet2</servlet-name>
        <url-pattern>*.portlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Demo Dispatch Portlet Servlet</servlet-name>
        <url-pattern>*.portlet3</url-pattern>
    </servlet-mapping>
</web-app>
